/* This is where you include Tailwind's directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global base styles here if needed */
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
